/* =============== GLOBAL =============== */
:root {
  /*========== Colors ==========*/
  --rich-black-fogra-29_95: hsla(222, 18%, 11%, 0.95);
  --raisin-black-1: hsl(0, 0%, 16%);
  --raisin-black-2: hsl(236, 17%, 17%);
  --raisin-black-3: hsl(280, 11%, 11%);
  --raisin-black-4: hsl(280, 8%, 15%);
  --english-violet: hsl(274, 21%, 23%);
  --eerie-black-1: hsl(277, 25%, 10%);
  --eerie-black-2: hsl(280, 7%, 8%);
  --roman-silver: hsl(220, 6%, 59%);
  --quick-silver: hsl(0, 1%, 65%);
  --light-gray-1: hsl(0, 0%, 80%);
  --light-gray-2: hsl(0, 2%, 82%);
  --marigold_75: hsla(42, 99%, 46%, 0.75);
  --xiketic_90: hsla(280, 37%, 8%, 0.9);
  --cultured-2: hsl(0, 0%, 97%);
  --marigold: hsl(42, 99%, 46%);
  --platinum: hsl(0, 0%, 89%);
  --dim-gray: hsl(0, 0%, 42%);
  --white_15: hsla(0, 0%, 100%, 0.15);
  --white_10: hsla(0, 0%, 100%, 0.1);
  --xiketic: hsl(277, 25%, 10%);
  --silver: hsl(0, 0%, 78%);
  --white: hsl(0, 0%, 100%);
  --jet: hsl(236, 13%, 23%);

  /*========== typography ==========*/
  --ff-oxanium: "Oxanium", cursive;
  --ff-poppins: "Poppins", sans-serif;

  /*========== text size ==========*/
  --fs-1: 7rem;
  --fs-2: 4.5rem;
  --fs-3: 3.6rem;
  --fs-4: 2.4rem;
  --fs-5: 2.2rem;
  --fs-6: 2rem;
  --fs-7: 1.6rem;
  --fs-8: 1.5rem;
  --fs-9: 1.4rem;
  --fs-10: 1.3rem;
  --fs-11: 1.2rem;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;

  /* spacing */
  --section-padding: 120px;

  /* gradient */
  --gradient: radial-gradient(circle, hsl(250, 7%, 17%), hsl(250, 11%, 11%));

  /* box shadow */
  --shadow-1: 0px 2px 8px 0px hsla(0, 0%, 0%, 0.2),
    inset 0px 2px 8px 0px hsla(0, 0%, 0%, 0.4);
  --shadow-2: 0px 5px 10px 1px hsla(0, 0%, 0%, 0.4);
  --shadow-3: 0px 5px 10px 1px hsla(219, 98%, 17%, 0.2);
  --shadow-4: 0px 5px 10px 1px hsla(0, 0%, 0%, 0.15);

  /* transition */
  --transition: 0.25s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

  --yellow: #ffdd40;
  --dark: #2f313a;
  --deg: -86deg;
  --trans: all 0.4s ease 0s;
}

/* =============== BASE =============== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
span,
time,
input,
button,
ion-icon {
  display: block;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

html {
  font-family: var(--ff-poppins);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--raisin-black-3);
  font-size: 1.6rem;
  line-height: 1.5;
  overflow-x: hidden;
}

:focus-visible {
  outline-offset: 4px;
}

/* =============== LAYOUT =============== */
.container {
  padding-inline: 15px;
}

.section {
  padding-block: var(--section-padding);
}

.h1,
.h2,
.h3 {
  color: var(--white);
  font-family: var(--ff-oxanium);
  font-weight: var(--fw-800);
  line-height: 1;
}

.h1 {
  font-size: var(--fs-2);
  letter-spacing: -3px;
}

.h2 {
  font-size: var(--fs-3);
}

.h3 {
  font-size: var(--fs-6);
  text-transform: uppercase;
}

:is(.h1, .h2, .h3, .card-price) .span {
  display: inline-block;
  color: var(--marigold);
}

.btn {
  margin-inline: auto;
  margin-bottom: 20px;
  color: var(--eerie-black-1);
  font-size: var(--fs-8);
  text-transform: uppercase;
  font-weight: var(--fw-700);
  min-height: 55px;
  padding-inline: 35px;
}

.skewBg {
  position: relative;
  z-index: 1;
}

.skewBg::before {
  content: "";
  position: absolute;
  inset: 0;
  -webkit-transform: skewX(var(--skewX, -16deg));
      -ms-transform: skewX(var(--skewX, -16deg));
          transform: skewX(var(--skewX, -16deg));
  background-color: var(--bg, var(--marigold));
  z-index: -1;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(100% + 8px);
  width: 5px;
  -webkit-transform: skewX(-16deg) translateX(var(--translateX, 0));
      -ms-transform: skewX(-16deg) translateX(var(--translateX, 0));
          transform: skewX(-16deg) translateX(var(--translateX, 0));
  background-color: var(--marigold);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.btn:is(:hover, :focus)::after {
  --translateX: -13px;
}

.has-scrollbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  overflow-x: auto;
  -webkit-padding-after: 30px;
          padding-block-end: 30px;
  -ms-scroll-snap-type: inline mandatory;
      scroll-snap-type: inline mandatory;
}

.has-scrollbar::-webkit-scrollbar {
  height: 10px;
}

.has-scrollbar::-webkit-scrollbar-track {
  outline: 3px solid var(--marigold);
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--marigold);
}

.has-scrollbar::-webkit-scrollbar-button {
  width: calc(25% - 40px);
}

.section-subtitle,
.section-title {
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.section-subtitle {
  color: var(--silver);
  font-size: var(--fs-9);
  font-weight: var(--fw-700);
  -webkit-margin-after: 10px;
          margin-block-end: 10px;
}

.section-title::after {
  content: url("../images/title-underline.png");
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.scrollbar-item {
  min-width: 100%;
  scroll-snap-align: start;
}

.card-banner {
  background-color: var(--light-gray-1);
}

.img-holder { aspect-ratio: var(--width) / var(--height); }

.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-badge {
  min-height: 30px;
  color: var(--eerie-black-1);
  font-size: var(--fs-11);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-inline: 20px;
}

.card-badge::before {
  --skewX: -10deg;
}

.w-100 {
  width: 100%;
}

.section-text {
  color: var(--color, var(--light-gray-1));
  font-size: var(--fs-8);
  font-weight: var(--fw-500);
  max-width: 65ch;
  margin-inline: auto;
  text-align: center;
  line-height: 1.8;
}

/* =============== PRELOADER =============== */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: hsla(228, 9%, 10%, 1);
  z-index: 10;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 0;
  margin: 0;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.preloader.loaded {
  opacity: 0;
  pointer-events: none;
}

.preloader .circle {
  width: 60px;
  height: 60px;
  border: 2px solid hsla(231, 10%, 14%, 1);
  border-top-color: var(--white);
  border-radius: 50%;
  -webkit-animation: rotate360 1s linear infinite;
          animation: rotate360 1s linear infinite;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

@-webkit-keyframes rotate360 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes rotate360 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

.preloader.loaded .circle {
  opacity: 0;
}

/* =============== HEADER =============== */
.header-top,
.cart-btn,
.header-bottom::before,
.navbar-link::before {
  display: none;
}

.header {
  position: relative;
  min-height: 1px;
}

.header .social-link:hover {
  color: #000;
  background: var(--marigold);
}

.header-bottom {
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  width: 100%;
  background-color: var(--raisin-black-2);
  padding-block: 20px;
  z-index: 4;
}

.header-bottom.active {
  position: fixed;
  top: -85px;
  -webkit-animation: slideIn 0.5s var(--cubic-out) forwards;
          animation: slideIn 0.5s var(--cubic-out) forwards;
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

.header-bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  color: var(--white);
  font-family: var(--ff-oxanium);
  font-size: 3rem;
  font-weight: var(--fw-800);
}

.header-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.nav-toggle-btn {
  color: var(--white);
  font-size: 30px;
  border: 1px solid var(--white);
  padding: 4px;
}

.nav-toggle-btn.active .menu,
.nav-toggle-btn .close {
  display: none;
}

.nav-toggle-btn .menu,
.nav-toggle-btn.active .close {
  display: block;
}

.navbar {
  background-color: var(--eerie-black-1);
  color: var(--white);
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  max-width: 350px;
  visibility: hidden;
  max-height: 0;
  -webkit-transition: 0.25s var(--cubic-out);
  -o-transition: 0.25s var(--cubic-out);
  transition: 0.25s var(--cubic-out);
  overflow: hidden;
}

.navbar.active {
  visibility: visible;
  max-height: 275px;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.navbar-item:not(:last-child) {
  -webkit-border-after: 1px solid var(--white_15);
          border-block-end: 1px solid var(--white_15);
}

.navbar-link {
  padding: 10px 25px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.navbar-link:is(:hover, :focus) {
  background-color: var(--white_10);
}

/* =============== HOME =============== */
.home-banner {
  display: none;
}

.home {
  --section-padding: 60px;
  -webkit-margin-before: 84px;
          margin-block-start: 84px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-subtitle {
  color: var(--marigold);
  font-size: var(--fs-6);
  font-weight: var(--fw-700);
  text-transform: uppercase;
}

.home-title {
  margin-block: 15px 12px;
}

.home-text {
  color: var(--light-gray-2);
  -webkit-margin-after: 45px;
          margin-block-end: 45px;
}

/* =============== SPONSORS =============== */
.sponsors {
  --section-padding: 60px;
  background-image: var(--gradient);
  background: var(--white);
}

.sponsors .has-scrollbar {
  -webkit-padding-after: 0;
          padding-block-end: 0;
}

.sponsors .has-scrollbar::-webkit-scrollbar {
  display: none;
}

.sponsors-item {
  min-width: calc(50% - 10px);
  scroll-snap-align: start;
}

.sponsors-item > img {
  margin-inline: auto;
}

/* =============== ABOUT =============== */
.section-wrapper {
  position: relative;
  background-color: var(--white);
  z-index: 1;
}

.section-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-image: url("../images/section-wrapper-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.about .section-title {
  -webkit-margin-after: 80px;
          margin-block-end: 80px;
}

.about .has-scrollbar {
  margin-inline: -15px;
  padding-inline: 15px;
  scroll-padding-inline-start: 15px;
}

/* =============== VENUE =============== */
.venue {
  overflow-x: hidden;
}

.venue .section-title {
  -webkit-margin-after: 90px;
          margin-block-end: 90px;
}

.venue-tour {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}

/* =============== THEMES =============== */
.themes {
  background-color: var(--cultured-2);
}

.themes .section-title {
  color: var(--xiketic);
  -webkit-margin-after: 90px;
          margin-block-end: 90px;
}

.themes .has-scrollbar {
  gap: 0;
}

.themes-card {
  position: relative;
}

.themes-card :is(.card-content, .card-content-overlay) {
  position: absolute;
}

.themes-card .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px 35px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  text-align: center;
}

.themes-card .card-content-overlay {
  inset: 0;
  background-color: var(--marigold_75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.themes-card .card-title {
  -webkit-margin-after: 5px;
          margin-block-end: 5px;
  text-align: center;
}

.themes-card .card-meta {
  color: var(--white);
  font-size: var(--fs-11);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 15px;
  gap: 4px;
  width: 100%;
}

.themes-card .card-content .card-meta {
  color: var(--platinum);
}

.themes-card .card-content ion-icon {
  color: var(--marigold);
  font-size: 14px;
}

.themes-card .card-icon {
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
  font-size: 36px;
  color: var(--xiketic);
}

.themes-card .card-content-overlay .card-title {
  color: var(--xiketic);
}

.themes-card .card-content-overlay .span {
  color: var(--white);
}

.themes-card:is(:hover, :focus-within) .card-content {
  opacity: 0;
}

.themes-card:is(:hover, :focus-within) .card-content-overlay {
  opacity: 1;
}

/* =============== SCHEDULE =============== */
.schedule {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.schedule .section-text {
  margin-block: 50px 60px;
}

.schedule .has-scrollbar {
  margin-inline: -15px;
  padding-inline: 15px;
  scroll-padding-inline-start: 15px;
}

.timeline h1 {
  font-size: 200%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

.timeline header {
  background: #3f51b5;
  color: #ffffff;
  padding: 15px 0;
}

.timeline header p {
  color: rgba(255, 255, 255, 0.2);
  margin-bottom: 0;
  font-size: 60px;
  margin-top: -30px;
}

.timeline {
  position: relative;
  overflow-x: hidden;
}

.timeline::before {
  content: "";
  background: #c5cae9;
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
}

.timeline-item:nth-child(even) .timeline-content {
  float: right;
}

.timeline-item:nth-child(even) .timeline-content .date {
  right: auto;
  left: 0;
}

.timeline-item:nth-child(even) .timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent black transparent transparent;
}

.timeline-item::after {
  content: "";
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 20px 20px;
  border-radius: 20px;
  border: solid 2px white;
  background: var(--marigold);
  -webkit-box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}

.timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent black;
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: black;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

.timeline a {
  background: #3f51b5;
  color: #ffffff;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
          box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
}

.timeline a:hover,
a:active,
a:focus {
  background: #32408f;
  color: #ffffff;
  text-decoration: none;
}

.timeline-card {
  padding: 0 !important;
}

.timeline-card p {
  padding: 0 20px;
}

.timeline-card a {
  margin-left: 20px;
}

.timeline-item .timeline-img-header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4))),
    url("https://picsum.photos/1000/800/?random") center center no-repeat;
  background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
    url("https://picsum.photos/1000/800/?random") center center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
    url("https://picsum.photos/1000/800/?random") center center no-repeat;
  background-size: cover;
}

blockquote {
  margin-top: 30px;
  color: #757575;
  border-left-color: #3f51b5;
  padding: 0 20px;
}

.date {
  display: inline-block;
}

/* =============== FAQ =============== */
.faq {
  background-color: var(--white);
}

.faq .section-title {
  color: var(--xiketic);
}

.faq .section-text {
  color: var(--dim-gray);
  margin-block: 50px 60px;
}

.faq .wrapper > p,
.faq .wrapper > h1 {
  margin: 1.5rem 0;
  text-align: center;
}

.faq .wrapper > h1 {
  letter-spacing: 3px;
}

.faq .accordion {
  background-color: var(--marigold);
  color: black;
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  -webkit-transition: background-color 0.4s, color 0.4s;
  -o-transition: background-color 0.4s, color 0.4s;
  transition: background-color 0.4s, color 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  border-radius: 5px;
}

.faq .accordion ion-icon {
  font-size: 1.6rem;
}

.faq .accordion-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq .icon-box {
  width: 40px;
  height: 40px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  border-radius: 5px;
}

.faq .active,
.faq .accordion:hover {
  background-color: var(--marigold_75);
}

.faq .panel {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.4s ease-out, padding 0.4s ease-out;
  -o-transition: max-height 0.4s ease-out, padding 0.4s ease-out;
  transition: max-height 0.4s ease-out, padding 0.4s ease-out;
  background-color: #fff176;
  padding: 0;
}

.faq .panel p {
  color: black;
  font-size: 1.2rem;
  line-height: 1.6;
  padding: 20px;
}

.faq-content {
  border: 1px solid black;
  margin: 10px 0;
  border-radius: 5px;
}

.faq-content.active {
  border: none;
}

.faq-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.faq-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50% - 10px);
          flex: 1 1 calc(50% - 10px);
}

/* =============== FOOTER =============== */
.footer {
  color: var(--roman-silver);
}

.footer-top {
  -webkit-padding-after: var(--section-padding);
          padding-block-end: var(--section-padding);
}

.footer-top .container {
  display: -ms-grid;
  display: grid;
  gap: 50px;
}

.footer .logo {
  -webkit-margin-after: 35px;
          margin-block-end: 35px;
}

.footer-text,
.footer .contact-item {
  font-size: var(--fs-8);
  font-weight: var(--fw-500);
  line-height: 1.8;
}

.footer-text {
  -webkit-margin-after: 15px;
          margin-block-end: 15px;
}

.contact-item:not(:last-child) {
  -webkit-margin-after: 10px;
          margin-block-end: 10px;
}

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}

.contact-icon {
  -webkit-margin-before: 3px;
          margin-block-start: 3px;
  font-size: 17px;
}

.footer-list-title {
  position: relative;
  color: var(--silver);
  font-family: var(--ff-oxanium);
  text-transform: uppercase;
  font-weight: var(--fw-800);
  -webkit-padding-after: 20px;
          padding-block-end: 20px;
  -webkit-margin-after: 35px;
          margin-block-end: 35px;
}

.footer-list-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: var(--marigold);
}

.footer-link {
  font-size: var(--fs-9);
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  padding-block: 8px;
  font-weight: var(--fw-500);
}

.item-text {
  font-size: var(--fs-9);
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.footer-link:is(:hover, :focus) {
  color: var(--marigold);
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
}

.item-text:is(:hover, :focus) {
  color: var(--marigold);
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
}

.footer .social-wrapper {
  -webkit-margin-after: 50px;
          margin-block-end: 50px;
}

.footer .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer .social-link {
  color: var(--white);
  padding: 10px;
  border-radius: 2px;
}

.social-link:hover {
  color: var(--marigold);
}

.footer-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 53px;
  background-color: var(--marigold);
  color: var(--xiketic);
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.footer-bottom-img {
  display: none;
}

.footer-bottom {
  background-color: var(--eerie-black-2);
  padding-block: 20px;
  text-align: center;
}

.copyright {
  font-size: var(--fs-9);
  font-weight: var(--fw-500);
  line-height: 1.8;
}

.copyright-link {
  display: inline-block;
  color: var(--marigold);
}

.copyright-link:hover {
  color: var(--marigold_75);
}

/* =============== BACK TO TOP =============== */
.back-top-btn {
  position: fixed;
  bottom: 10px;
  right: 15px;
  background-color: var(--marigold);
  padding: 12px;
  z-index: 4;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  opacity: 0;
  visibility: hidden;
}

.back-top-btn.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

/*======= BREAKPOINTS =======*/
@media (min-width: 576px) {
  /* =============== BASE =============== */
  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }

  .h1 {
    --fs-2: 7rem;
  }

  /* =============== HEADER =============== */
  .header-actions {
    gap: 40px;
  }

  /* =============== SPONSORS =============== */
  .sponsors-item {
    min-width: calc(33.33% - 13.33px);
  }

  /* =============== ABOUT =============== */
  .about-game .scrollbar-item {
    min-width: 50%;
  }

  /* =============== FOOTER =============== */
  .footer-top .container {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .footer-brand,
  .footer-wrapper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
}

@media (max-width: 600px) {
  /* =============== FAQ =============== */
  .faq-content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (min-width: 768px) {
  /* =============== BASE =============== */
  .container {
    max-width: 720px;
  }
  .scrollbar-item {
    min-width: calc(50% - 15px);
  }

  /* =============== HOME =============== */
  .home-text {
    max-width: 60ch;
    margin-inline: auto;
  }

  /* =============== SPONSORS =============== */
  .sponsors-item {
    min-width: calc(25% - 15px);
  }

  /* =============== VENUE =============== */
  .venue-tour .play-btn {
    font-size: 120px;
  }

  /* =============== FOOTER =============== */
  .footer-brand,
  .footer-wrapper {
    grid-column: auto;
  }

  .footer-bottom-img {
    display: block;
  }

  .footer-bottom {
    text-align: left;
  }

  .footer-bottom .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }

  /* =============== BACK TO TOP =============== */
  .back-top-btn {
    bottom: 50px;
    right: 45px;
  }
}

@media screen and (max-width: 768px) {
  /* =============== SCHEDULE =============== */
  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }

  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }

  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}

@media (min-width: 992px) {
  /* =============== BASE =============== */
  .container {
    max-width: 960px;
  }
  :is(.header, .hero, .live-match) .container {
    max-width: unset;
  }
  .scrollbar-item {
    min-width: calc(33.33% - 20px);
  }

  /* =============== HEADER =============== */
  .header-top {
    display: block;
    background-image: url("../images/header-top-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-block: 20px;
  }

  .header-top .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .countdown-text {
    color: var(--quick-silver);
    font-size: var(--fs-10);
    font-weight: var(--fw-600);
  }

  .countdown-text .span {
    display: inline-block;
    color: var(--xiketic);
    font-size: 1.8rem;
    font-weight: var(--fw-700);
    padding: 10px 20px;
    margin-inline: 5px;
  }

  .header :is(.social-wrapper, .social-list) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header .social-wrapper {
    gap: 15px;
  }

  .header .social-list {
    gap: 10px;
  }

  .social-title {
    color: var(--white);
    font-family: var(--ff-oxanium);
    font-size: var(--fs-8);
    font-weight: var(--fw-700);
  }

  .header .social-link {
    background-color: var(--jet);
    color: var(--marigold);
    font-size: var(--fs-9);
    padding: 8px 10px;
  }

  .header-bottom {
    outline: 1px solid hsla(0, 0%, 0%, 0.2);
  }

  .header-bottom::before {
    display: block;
    top: 0;
    left: -15px;
    right: auto;
    width: 250px;
    --skewX: 16deg;
  }

  .nav-toggle-btn {
    display: none;
  }

  .navbar,
  .navbar.active {
    all: unset;
    margin-inline: auto 15px;
  }

  .navbar-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-item:not(:last-child) {
    -webkit-border-after: none;
            border-block-end: none;
  }

  .navbar-link {
    color: var(--white);
    font-family: var(--ff-oxanium);
    font-size: var(--fs-11);
    text-transform: uppercase;
    font-weight: var(--fw-700);
    padding: 10px 20px;
  }

  .navbar-link::before {
    display: block;
    opacity: 0;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }

  .navbar-link:is(:hover, :focus) {
    background-color: transparent;
    color: var(--xiketic);
  }

  .navbar-link:is(:hover, :focus)::before {
    opacity: 1;
  }

  /* =============== HERO =============== */
  .home {
    text-align: left;
  }

  .home-banner {
    display: block;
  }

  .home .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 50px 0.9fr;
    grid-template-columns: 1fr 0.9fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }

  .btn {
    margin-inline: 0;
  }

  /* =============== SPONSORS =============== */
  .sponsors-item {
    min-width: calc(20% - 16px);
  }

  /* =============== ABOUT =============== */
  .about .has-scrollbar {
    -webkit-padding-after: 0;
            padding-block-end: 0;
  }

  /* =============== VENUE =============== */
  .venue-tour {
    max-width: 700px;
    margin-inline: auto;
  }

  /* =============== THEMES =============== */
  .themes .scrollbar-item {
    min-width: 33.33%;
  }

  /* =============== FOOTER =============== */
  .footer .container {
    -ms-grid-columns: 1fr 80px 0.7fr 80px 0.7fr;
    grid-template-columns: 1fr 0.7fr 0.7fr;
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
  }
}

@media (min-width: 1200px) {
  /* =============== BASE =============== */
  .container,
  :is(.header, .hero, .live-match) .container {
    max-width: 1230px;
  }
  .h1 {
    --fs-2: 7.5rem;
  }
  .scrollbar-item {
    min-width: calc(25% - 22.5px);
  }

  /* =============== HEADER =============== */
  .header-bottom::before {
    width: 270px;
  }

  .navbar-link {
    font-size: var(--fs-9);
    padding-inline: 25px;
  }

  /* =============== HOME =============== */
  .home .container {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  /* =============== SPONSORS =============== */
  .brand-item {
    min-width: calc(16.66% - 16.66px);
  }

  /* =============== VENUE =============== */
  .section-wrapper::before {
    height: 72%;
  }
  .venue-tour {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }

  /* =============== THEMES =============== */
  .themes .has-scrollbar {
    -webkit-padding-after: 0;
            padding-block-end: 0;
  }
  .themes .scrollbar-item {
    min-width: 25%;
  }

  /* =============== SCHEDULE =============== */
  .schedule .has-scrollbar {
    -webkit-padding-after: 15px;
            padding-block-end: 15px;
  }

  /* =============== FOOTER =============== */
  .footer .container {
    -ms-grid-columns: 1fr 0.7fr 0.7fr 1fr;
    grid-template-columns: 1fr 0.7fr 0.7fr 1fr;
  }
}

.navbar-link.active {
  background-color: var(--bg, var(--marigold));
  -webkit-transform: skewX(var(--skewX, -16deg));
      -ms-transform: skewX(var(--skewX, -16deg));
          transform: skewX(var(--skewX, -16deg));
  color: #000;
  z-index: -1;
  inset: 0;
}

/* =============== FOOTER =============== */
.venue-tour {
  font-family: "Lato", Arial, Helvetica, serif;
  font-size: 1em;
  max-width: 700px;
}

.venue-tour h2 {
  text-align: center;
}

.venue-tour .member {
  margin: 1.5em 0 0.5em;
  padding: 0.73em;
  background: -o-linear-gradient(
    7deg,
    var(--marigold) 0 97%,
    #fff0 calc(97% + 1px) 100%
  );
  background: linear-gradient(
    83deg,
    var(--marigold) 0 97%,
    #fff0 calc(97% + 1px) 100%
  );
  position: relative;
  list-style: none;
  display: inline-block;
  -webkit-transform: scale(0.85);
      -ms-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans);
}

.venue-tour .member:nth-of-type(even) {
  text-align: right;
  background: -o-linear-gradient(
    173deg,
    var(--marigold) 0 97%,
    #fff0 calc(97% + 1px) 100%
  );
  background: linear-gradient(
    -83deg,
    var(--marigold) 0 97%,
    #fff0 calc(97% + 1px) 100%
  );
}

.venue-tour .thumb {
  width: 13vmin;
  height: 13vmin;
  float: left;
  margin-right: 1.25em;
  background: -webkit-gradient(
    linear,
    left top, left bottom,
    from(var(--deg)),
    color-stop(0, var(--dark)),
    color-stop(0%, var(--marigold))
  );
  background: -o-linear-gradient(
    var(--deg),
    var(--dark) 0 70%,
    var(--marigold) 0% 100%
  );
  background: linear-gradient(
    var(--deg),
    var(--dark) 0 70%,
    var(--marigold) 0% 100%
  );
  -webkit-transform: rotate(-4deg);
      -ms-transform: rotate(-4deg);
          transform: rotate(-4deg);
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans);
  border-radius: 0.25em;
  overflow: hidden;
  margin-left: -3em;
  padding: 0.5em;
}

.venue-tour .member:nth-of-type(even) .thumb {
  --deg: 86deg;
  float: right;
  margin-left: 2em;
  margin-right: -3em;
  -webkit-transform: rotate(4deg);
      -ms-transform: rotate(4deg);
          transform: rotate(4deg);
}

.venue-tour .thumb img {
  width: 100%;
  height: 100%;
  border-radius: 0.25em;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  background: var(--dark);
}

.venue-tour .member:hover {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans);
  -webkit-transform: rotate(-1deg);
      -ms-transform: rotate(-1deg);
          transform: rotate(-1deg);
  --deg: -89deg;
}

.venue-tour .member:nth-of-type(even):hover .thumb {
  --deg: 91deg;
}

.venue-tour .member:hover .thumb img {
  -webkit-filter: none;
          filter: none;
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans);
}

.venue-tour .description {
  padding-top: 1vmin;
}

.venue-tour .description p {
  padding: 0 2em;
  margin-bottom: 1em;
}

.venue-tour h3 {
  background: -o-linear-gradient(268deg, #fff0 60%, var(--dark) 0 100%);
  background: linear-gradient(182deg, #fff0 60%, var(--dark) 0 100%);
  display: inline;
  -webkit-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg);
  position: absolute;
  margin: 0;
  margin-top: -2.25em;
  left: 9vmin;
  padding: 0.5em 0.75em;
  color: var(--marigold);
  border-radius: 0.25em;
  font-size: 1.35em;
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
}

.venue-tour .member:nth-last-of-type(even) h3 {
  left: inherit;
  right: 9vmin;
  -webkit-transform: rotate(2deg);
      -ms-transform: rotate(2deg);
          transform: rotate(2deg);
  -webkit-transform-origin: right bottom;
      -ms-transform-origin: right bottom;
          transform-origin: right bottom;
  background: -o-linear-gradient(272deg, #fff0 60%, var(--dark) 0 100%);
  background: linear-gradient(-182deg, #fff0 60%, var(--dark) 0 100%);
}

.venue-tour .description p a {
  display: inline-block;
  margin: 0.5em 0 0 0;
  background: var(--dark);
  color: var(--marigold);
  padding: 0.1em 0.5em 0.35em;
  border-radius: 0.5em;
  text-decoration: none;
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans);
}

.venue-tour .description p a:hover {
  -webkit-transition: var(--trans);
  -o-transition: var(--trans);
  transition: var(--trans);
  color: var(--dark);
  background: var(--marigold);
  font-weight: bold;
}

.venue-tour .description p a img {
  float: left;
  width: 22px;
  -webkit-filter: invert(1);
          filter: invert(1);
  border-radius: 0.15em;
  padding: 2px;
  background: #fff;
  margin-right: 2px;
}



.volunteers-banner {
  position: relative;
  background-color: var(--light-gray-1);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: var(--shadow-3);
}

@media (min-width: 992px) {
  .volunteers-banner {
    max-width: 700px;
    margin-inline: auto;
  }
}

@media (min-width: 1200px) {
  .volunteers-banner { max-width: max-content; }
}




.schedule {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.schedule .section-text { margin-block: 50px 60px; }

.schedule .has-scrollbar {
  margin-inline: -15px;
  padding-inline: 15px;
  scroll-padding-inline-start: 15px;
}

.winners-card {
  box-shadow: var(--shadow-4);
  height: 100%;
}

.winners-card .card-content {
  position: relative;
  padding: 25px;
  padding-block-start: 40px;
}

.winners-card .card-badge {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.winners-card .h3 { font-size: var(--fs-7); }

.winners-card .card-title {
  transition: var(--transition);
  margin-block-end: 10px;
}

.winners-card .card-title:is(:hover, :focus) { color: var(--marigold); }

.winners-card .card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--marigold);
}

.winners-card .card-price {
  font-family: var(--ff-oxanium);
  font-weight: var(--fw-800);
}

.winners-card .card-btn {
  color: inherit;
  font-size: 18px;
  padding: 7px;
  border: 1px solid var(--english-violet);
  border-radius: 4px;
  transition: var(--transition);
}

.winners-card .card-btn:is(:hover, :focus) {
  background-color: var(--marigold);
  color: var(--xiketic);
  border-color: var(--marigold);
}

@media (min-width: 1200px) {
  .schedule .has-scrollbar { padding-block-end: 15px; }
}